@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

.loading {
    z-index:99999;
	position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    text-align: center;
    background-color: #ffffff;
}
.loading p {
	position: absolute;
	font-family: 'Pinyon Script', cursive; 
	font-size:84px;
    top: 50%;
    left: 50%;
	-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
	margin-top:-50px;
	}
.loading p span { 
    font-family: 'Ubuntu', sans-serif;
	letter-spacing:8px;
    font-size:12px;
	line-height:1.5;
	color:#CCC;
}
#myProgress {
  position: absolute;
  width:25%;
  height: 10px;
  background-color: #F0F0F0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform:translate(-50%,-50%);
  margin-top:30px;
}

#myBar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #999;
}

#label {
  text-align: center;
  line-height: 10px;
  color: white;
}

@media screen and (max-width:768px){
  .loading p { font-size:64px }
  .loading p span { letter-spacing:5px; margin-left:-16px; }
  #myProgress { width:50%; margin-left:-10px }

	}