@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,500&display=swap');

html, body {
height:100%;
margin:0;
padding:0;
}

.navbar { 
         padding-top:20px;
		 padding-bottom:20px;
		 } /*navbar(menu)高度*/
.navbar a:hover { color:#FFF }

.designnamelogo { 
         font-family: 'Pinyon Script', cursive;
		 font-weight:600;
		 font-size:34px;
		 color:#FFF;
		 text-shadow:3px 3px 3px #333;
		 text-decoration:none;
		 }
		 
#navbarSupportedContent ul li { 
         padding: 0px 30px 0px 30px;
		 }  /*munu(li)間隔*/
.nav-item a { 
         color:#FFF;
		 font-size:16px;
		 font-family: 'Baloo Tamma 2', cursive;
		 letter-spacing:1px;
		 font-weight:500;
		 color:#FFF;
		 text-shadow:3px 3px 3px #333;
		 text-decoration:none;
           }
/*carousel full screen*/		 
.carousel-item{
  position:relative;
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  animation:zoom;
  animation-duration:25s;
}
/*carousel full screen*/

.carousel-caption { position:absolute; top:35%; left:15%}
.carousel-caption h5 { font-family: 'Lora', serif; font-size:72px; line-height:50px; }

.carousel-caption { animation:move; animation-duration:25s }	

.carousel-indicators { margin-bottom:45px }


@keyframes zoom { 
      0% { transform:scale(1,1)} 
	  60% { transform:scale(1.2,1.2)} 
	  100% { transform:scale(1.5,1.5)} 
	  }
	  
@keyframes move { 
      0% { left:18%; opacity:0 }
	  10% { left:15%; } 
	  15% { opacity:1 }
	  100% { left:12% } 
	  }

.footertext { 
    font-family: 'Ubuntu', sans-serif;
	font-size:14px;
    color:#FFF; 
    margin-bottom:15px;
	opacity:0.6;
	 }
	 
@media screen and (max-width:992px){
	
	#menu { height:150px; overflow:auto; }  /*fixed超出定位*/
	#navbarSupportedContent ul li { 
         padding: 12px 30px 12px 30px;
		 margin-top:15px;
		 background-color:#333;
		 }  /*munu(li)間隔*/
}

@media screen and (max-width:640px){
	
	.carousel-caption h5 { font-size:54px;line-height:42px; }
	
}

@media screen and (max-width:480px){
	
	.carousel-caption h5 { font-size:48px;line-height:34px; }
	
}

@media screen and (max-width:420px){
	
	.carousel-caption h5 { font-size:38px;line-height:28px; }
	
}
	